*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georama;
}

ul{
    list-style:none;
}

/*Home Page*/
.jumbotron {
    background-color: #05000d;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    width:100vw;
    height:100vh;    
    background-repeat:no-repeat;
    background-size:cover;
    position: relative; 
    padding: 12rem 2rem;
    margin-bottom: 0rem;
    color: white;
}

.highlight {
    color: #e31b6d;
}

/*Navbar*/
.navbar-brand{
    font-size: large;
    color:#000000;
    font-size:22px;
}

.nav-link{
    font-size: large;
    font-weight:bold;
    color:#2d2a2a;
}

/*About me*/
section{
    width:100vw;
    height:100vh;
    background-image:url("./images/bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    position: relative; 
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:#FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
}

Nav ul li{
    margin:30px;
    color:#505050;
    font-size:15px;
    font-weight:700;
}

.text-container p:nth-child(1){
    font-weight:bold;
    color:#F9E177;
    font-size:22px;
}

.text-container p:nth-child(2){
    font-weight:bold;
    letter-spacing:1px;
    color:#F9E177;
    font-size:60px;
}

.text-container p:nth-child(3){
    color: #F9E177;
    font-size;30px;
    line-height:30px;
}

.text-container p{
    line-height:0px;
    margin:45px 0px 25px;
    text-align: inherit;
}

.text-container{
    position:absolute;
    left:13%;
    top:42%;
    transform:translate(-13%,-42%);
}

.text-container button{
    width:130px;
    height:42px;
    border-radius:10px;
    font-weight:bold;
    font-size:14px;
    outline:none;
    margine:0px 10px;
}

.hire-btn{
    border:2px solid #373636;
    color:#373636;
}

.down-cv{
    background-color:#0b0b0b;
    color:#FFFFFF;
    border:none;
}

button:active{
    transform:scale(1.1);
}

.model{
    height:560px;
    position: absolute;
    bottom:40px;
    left:70%
    transform:translateX(-70%);
}

.educ-container{
    width:80%;
    height:330px;
    background-color:#FEF7EB;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0,2);
    display: flex;
    margin:-7% auto 20px auto;
    position: relative;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.educ-container img{
    height:250px;
}

.educ-text{
    width:550px;
}

.educ-text p:nth-child(1){
    color:#403e3e;
    font-size:23px;
    line-height:0px;
}

.educ-text p:nth-child(2){
    color:#3e3d3d;
    font-size:13px;
    font-weight: bold;
    line-height:5px;
}

.educ-text p:nth-child(3),
.educ-text p:nth-child(4){
    color:#7e7d7d;
    font-size:16px;
}

.educ-text button{
    width:120px;
    height:40px;
    color:#FFFFFF;
    outline:none;
    border:none;
    background-color:#262525;
}

/*Project*/
.carousel-caption{
    color: black;
}


/*Footer*/
footer{
    background-color: #05000d;
    height: 140px;
    font-size: 16px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: flex-start;
    color: white;
    width:100%;    
    }

div{
    display: block;
    margin-top: 25px;
    }

div p a{
    color: white;
    text-decoration: none;
    }

.flex-div1 p{
    margin-left: 10px;
    }

.flex-div4 p{
    margin-right: 70px;
    }

.b1{
    text-align: center;
    margin: 20px;
    }

.b1 a{  
    color: black;
    text-decoration: none;
    }