*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama';

}

body {
   /* color: whitesmoke;*/
    
   }

/*.canvas {
    background-color: #05000d;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
}*/

.jumbotron {
    padding: 12rem 2rem;
    margin-bottom: 0rem;
    color: white;

}


